  /{{.NamePlural}}:
    get:
      summary: List {{.NamePlural}}
      responses:
        "200":
          description: OK
    post:
      summary: Create a {{.NameLower}}
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                name:
                  type: string
      responses:
        "201":
          description: Created
  /{{.NamePlural}}/{id}:
    get:
      summary: Get a {{.NameLower}} by ID
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        "200":
          description: OK
        "404":
          description: Not found
